

.metadata/.*

.metadata/.mylyn/.taskListIndex/segments_1

*.gen

cdi/.project

cdi/cdi-factory/.classpath

cdi/cdi-factory/.project

*.prefs

jndi/initialContextFactoryMock/.project

jndi/initialContextFactoryMock/.classpath

jndi/initialContextFactoryMock/.project

jndi/.project

agents/agentone/.project

bpm/.project

agents/.project

actor/.classpath

actor/.project

.metadata/version.ini

osgi/.project

osgi/blueprint/.classpath

osgi/blueprint/.project

*.tis

*.prx

*.prx

*.tii
